header{
    position: sticky;
    top: 0;  
}
.logo{
    width:220px ;
}
.nav-color{
    background-color: nth($colores,1);
}

.nav-link{
    color: white;
    font-size: 15px;
}
.navbar-nav .nav-link.active{
    color: #9BBEC8;
}